*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgba(10, 63, 103, 1);
}

.container{
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
}
a{
text-decoration: none;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
max-width: 100%;
}
.header-container{
    display: flex;
}
.header{
    height: 100px;
}
.nav-list{
    display: flex;
}
.img-logo{
    padding-top: 17px;
}
.page-1{
    
    height: 540px;
    background-image: url(/src/image/banner-office\ 1.png);
}
h1{
padding-top: 81px;
Font-size: 64px;
Line-height: 64px;
Line-height: 80px;
font-weight: bold;
}
.description{
    padding-top: 10px;
    font-size: 32px;
    font-weight: 300;
    line-height: 57.5px;
    width: 703px;
    height: 157px;
}

